.container {
  padding: 1em;
  width: 100%;
}

.data-control {
  width: 100%;
}

.img-container {
  width: 220px;
  height: 150px;
}

mat-divider {
  margin: 1em;
}

mat-card {
  width: 250px;
  float:left;
  margin-left: .5em;
  margin-top: .1em;
}
