<div class="container">
  <mat-card>
    <h3>My device</h3>
    <img class="img-container" [src]="pictureSrc" />
    <p><strong>Name: </strong>{{deviceInfo.name}}</p>
    <p><strong>Model: </strong>{{deviceInfo.model}}</p>
    <p><strong>OS: </strong>{{deviceInfo.os}}</p>
    <p><strong>t°: </strong>{{deviceInfo.temp}}</p>
    <button mat-mini-fab color="primary" (click)="this.getDeviceInfo()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-card>

  <mat-card>
    <h3>Device settings</h3>

    <p>Change your device name</p>
    <mat-form-field class="data-control">
      <input matInput placeholder="New device name" [(ngModel)]="newDeviceNameModel">
    </mat-form-field>
    <button mat-raised-button (click)="saveDeviceName()">Save</button>

    <p>Change your password</p>
    <mat-form-field class="data-control">
      <input matInput placeholder="Old password" #oldpwd
             [type]="hide1 ? 'password' : 'text'" [(ngModel)]="pwd1Model">
      <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="data-control">
      <input matInput placeholder="New password" #newpwd
             [type]="hide2 ? 'password' : 'text'" [(ngModel)]="pwd2Model">
      <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="data-control">
      <input matInput placeholder="Confirm password" #confpwd
             [type]="hide3 ? 'password' : 'text'" [(ngModel)]="pwd3Model">
      <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button (click)="updatePassword()">Save</button>
  </mat-card>

  <mat-card>
    <h3>Audio control</h3>
    <p>Default speakers (PCM)</p>
    <mat-slider class="data-control"
                [min]="0" [max]="100" [step]="1"
                [thumbLabel]="true" [(ngModel)]="audioVolumeValue" (change)="setDeviceVolume()">
    </mat-slider>
  </mat-card>

</div>
